In [186]:
import pandas as pd

In [187]:
df = pd.read_excel('Data/2018/Oferta_de_empleo_Costa_Rica_4_trimestre_2018.xlsx', sheet_name=1)
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,NaN,Cuadro 1,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Costa Rica: Compendio del IV trimestre de 2018...,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,Características del empleo,IV Trimestre 2018,NaN,NaN,NaN,NaN
5,NaN,NaN,Población ocupada por sexo,NaN,Ingreso bruto medio en el empleo principal por...,NaN,Brecha del ingreso2/
6,NaN,NaN,Hombre,Mujer,Hombre,Mujer,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,1. Rama de actividad,1332961,832362,467947.25194,405666.402888,86.690626
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,1.1 Sector primario,229512,36759,334316.274224,374773.703244,112.101543
11,NaN,"Agricultura, ganadería y pesca",229512,36759,334316.274224,374773.703244,112.101543
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,1.2 Sector secundario,316243,87805,430422.284641,342782.567693,79.638666
14,NaN,Industria manufacturera,154018,83006,419304.673749,336096.435425,80.155662
15,NaN,Construcción,137657,2424,358193.359928,348158.226811,97.198403
16,NaN,Otros3/,24568,2375,870981.400962,557126.346316,63.965355
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,1.3 Sector comercio y servicios,776559,700488,516772.929259,414703.912172,80.248769
19,NaN,Comercio y reparación,217753,149391,409698.678646,263725.282086,64.370547
20,NaN,Transporte y almacenamiento,97429,12185,370475.596764,562934.632734,151.94918
21,NaN,Hoteles y restaurantes,56809,74162,410051.21817,252698.11445,61.625988
22,NaN,Intermediación financiera y de seguros,27208,18415,875702.2645,787346.105774,89.910251
23,NaN,Actividades profesionales y administrativas de...,140016,63611,426446.968007,446988.445957,104.816889
24,NaN,Administración pública,52331,33875,890258.586599,1057642.172422,118.801682
25,NaN,Enseñanza y salud,73241,131230,927942.750345,765638.625655,82.509252
26,NaN,Comunicación y otros servicios4/,92453,77580,508306.762774,301999.725624,59.412888
27,NaN,Hogares como empleadores,19319,140039,241360.405689,152581.639364,63.217345
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,1.4 No especificado,10647,7310,-,-,-
30,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,NaN,2. Calificación del grupo ocupacional,1332961,832362,467947.25194,405666.402888,86.690626
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,NaN,Ocupación calificada alta5/,233175,195440,964115.392035,901758.181823,93.532184
34,NaN,Ocupación calificada media6/,723493,448024,386866.670712,262928.202416,67.963519
35,NaN,Ocupación no calificada,359700,182720,291946.488982,205971.151985,70.550995
36,NaN,No especificado,16593,6178,-,-,-
37,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,NaN,3. Sector institucional,1332961,832362,467947.25194,405666.402888,86.690626
39,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,NaN,Público,140184,134887,977985.329933,969130.498014,99.094584
41,NaN,Privado,1192777,697475,402621.435789,288593.749426,71.678685
42,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,NaN,4. Posición en el empleo principal,1332961,832362,467947.25194,405666.402888,86.690626
44,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,NaN,Asalariada,979795,636090,510968.276692,463706.450268,90.750536
46,NaN,Cuenta propia,269468,153527,287196.645808,162901.065417,56.721089
47,NaN,Empleadora,71718,18984,609361.007337,556300.029286,91.292358
48,NaN,Auxiliar no remunerado7/,11980,23761,-,-,-
49,NaN,1/ Se utiliza para el cálculo el ingreso bruto...,NaN,NaN,NaN,NaN,NaN
50,NaN,2/ Corresponde al cociente entre el ingreso br...,NaN,NaN,NaN,NaN,NaN
51,NaN,"3/ Incluye explotación de minas y canteras, su...",NaN,NaN,NaN,NaN,NaN
52,NaN,"4/ Incluye información y comunicaciones, activ...",NaN,NaN,NaN,NaN,NaN
53,NaN,"5/ Incluye directores y gerentes, nivel profes...",NaN,NaN,NaN,NaN,NaN
54,NaN,"6/ Incluye apoyo administrativo, ventas en loc...",NaN,NaN,NaN,NaN,NaN
55,NaN,"7/ Personas con trabajo, familiares o no famil...",NaN,NaN,NaN,NaN,NaN
56,NaN,* Se recomienda usar el dato de la población o...,NaN,NaN,NaN,NaN,NaN
57,NaN,a/ Para mayor información visitar el siguiente...,NaN,NaN,NaN,NaN,NaN
58,NaN,Fuente: INEC-Costa Rica. Encuesta Continua de ...,NaN,NaN,NaN,NaN,NaN

In [188]:
df.drop(df.columns[0], axis=1, inplace=True)

In [189]:
df.isna().sum()

Unnamed: 1    15
Unnamed: 2    25
Unnamed: 3    27
Unnamed: 4    26
Unnamed: 5    27
Unnamed: 6    27
dtype: int64

In [190]:
df.dropna(how='all', inplace=True)

In [191]:
data_period = df['Unnamed: 2'][4]
df.drop([0,2,4], axis=0, inplace=True)

In [192]:
column_names = {'Unnamed: 1': 'Sector industrial',
                'Unnamed: 2': 'Población ocupada por sexo: Hombre',
                'Unnamed: 3': 'Población ocupada por sexo: Mujer',
                'Unnamed: 4': 'Ingreso bruto medio en el empleo principal por sexo: Hombre',
                'Unnamed: 5': 'Ingreso bruto medio en el empleo principal por sexo: Mujer',
                'Unnamed: 6': 'brecha del ingreso'}

df.rename(columns=column_names, inplace=True)
total_trabajadores = df.loc[8:8].reset_index(drop=True)
df.drop([5,6,8], axis=0, inplace=True)
df.reset_index(drop=True, inplace=True)

In [193]:
total_sector = df[df['Sector industrial'].str.contains('Sector|1.4 No especificado')].reset_index(drop=True)
sector_publico_privado = df[df['Sector industrial'].str.contains('Público|Privado')].reset_index(drop=True)
Posición_empleo = df[df['Sector industrial'].str.contains('Asalariada|Cuenta propia|Empleadora|Auxiliar no remunerado')].reset_index(drop=True)

In [194]:
df.drop(df[df['Sector industrial'].str.contains('Sector')].index, inplace=True)
df = df.drop(df.loc[16:39].index).reset_index(drop=True)

In [196]:
df

,Sector industrial,Población ocupada por sexo: Hombre,Población ocupada por sexo: Mujer,Ingreso bruto medio en el empleo principal por sexo: Hombre,Ingreso bruto medio en el empleo principal por sexo: Mujer,brecha del ingreso
0,"Agricultura, ganadería y pesca",229512,36759,334316.274224,374773.703244,112.101543
1,Industria manufacturera,154018,83006,419304.673749,336096.435425,80.155662
2,Construcción,137657,2424,358193.359928,348158.226811,97.198403
3,Otros3/,24568,2375,870981.400962,557126.346316,63.965355
4,Comercio y reparación,217753,149391,409698.678646,263725.282086,64.370547
5,Transporte y almacenamiento,97429,12185,370475.596764,562934.632734,151.94918
6,Hoteles y restaurantes,56809,74162,410051.21817,252698.11445,61.625988
7,Intermediación financiera y de seguros,27208,18415,875702.2645,787346.105774,89.910251
8,Actividades profesionales y administrativas de...,140016,63611,426446.968007,446988.445957,104.816889
9,Administración pública,52331,33875,890258.586599,1057642.172422,118.801682
10,Enseñanza y salud,73241,131230,927942.750345,765638.625655,82.509252
11,Comunicación y otros servicios4/,92453,77580,508306.762774,301999.725624,59.412888
12,Hogares como empleadores,19319,140039,241360.405689,152581.639364,63.217345